fastapi
uvicorn
librosa
numpy==1.23.5
pandas
scikit-learn
tensorflow-cpu==2.15.0
python-multipart
python-dotenv
aiofiles
pydantic
gunicorn
# Optional light alternative if memory persists:
# scikit-learn